<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/login_page.css">
    <title>Turkisme - Login</title>
</head>
<body>

    <div class="container">
        <div class="forms-container">
            <div class="sign-in-up">
                <form action="" class="sign-in-form">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Login" class="btn solid">

                    <p class="social-text">Or Sign In with</p>
                    <div class="social-media">
                        <a href="#" class="social-icon"><i class="fas fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fas fa-google"></i></a>
                    </div>
                </form>

                <form action="" class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Login" class="btn solid">

                    <p class="social-text">Or Sign Up with</p>
                    <div class="social-media">
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-google"></i></a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Haven't Registered yet?</h3>
                    <p>Register yourself by clicking Sign Up button and be one of Us!</p>
                    <button class="btn transparent" id="sign-up-btn">Sign Up</button>
                </div>

                <img src="../assets/images/rocket-left.png" class="image" alt="">
            </div>

            <div class="panel right-panel">
                <div class="content">
                    <h3>Already have an account?</h3>
                    <p>Use your available account and continue your journey with Us!</p>
                    <button class="btn transparent" id="sign-in-btn">Sign In</button>
                </div>

                <img src="../assets/images/rocket-right.png" class="image" alt="">
            </div>
        </div>
    </div>

    <script src="../assets/js/login_page.js"></script>
    
</body>
</html>
